.customer-reviews-header {
    text-align: center;
    padding: 40px 0; // Provide some vertical padding
    background-color: #f6f6f6; // Light grey background as seen in the image
    
  
    h1 {
      font-size: 28px;
      color: #D8A958;
      font-weight: bold;
      margin-bottom: 5px;
    }
  
    p {
      font-size: 18px; // Slightly smaller font size for the subtitle
      color: #666;
    }
  }
  